main{
    border: 2px solid;

}
header{
    background-color: red;
    height: 100px;
}
section{
    background-color: yellow;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    


}
.left{
    background-color: aqua;
    /* height: 150px; */
}
.middle{
    background-color: wheat;
    /* height: 150px; */
}
.right{
    background-color: violet;
    /* height: 100px; */
}

footer{
    background-color: blue;
    height: 100px;
}