body{
    background-image: url(image/backgroundimg.jpeg);
    background-size: cover;
}

.box{
    /* background-color: aquamarine; */
    /* overflow: visible; */
    /* overflow: hidden; */
    overflow: auto;
    overflow: scroll;
    /* background-attachment: fixed; */
    background-attachment: scroll;
    text-align: justify;
    
}