*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    border: 2px solid black;
}
aside{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    flex-grow: 1;
    justify-content: space-between;
    text-align: center;

}
aside >*{
    margin: auto;
}
aside img{
    width: 200px;
}
aside .aside_link{
    /* display:flex;
    flex-direction: column;
    justify-content: center; */
    width:100%;
    text-align: left;
}

aside .aside_link a{
    text-decoration: none;
}
.aside_link a:hover{
    text-decoration: underline;
}
.aside_link_anchor{
    color:grey;
    font-weight: bold;
}
.aside_link6 li {
    display: flex;
    justify-content: space-between;
}
.logo-heading h1, .heading h1{
    white-space: nowrap;
}

.maincontent{
    border: 2px solid lightgray;
    margin: 20px;
}

.login ul{
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
li{
    list-style: none;
    margin: 10px;
}
.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left{
    display: flex;
    flex-wrap: wrap;
}
.right ul{
    display: flex;
    flex-wrap: wrap;
}
.heading{
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.para-image{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.para{
    flex-basis: 70%;
}
.image{
    background-color: gray;
    flex-basis: 30%;
}
.image img{
    padding: 20px;
    width: 100%;
}

@media screen and (max-width:768px) {
    main{
        flex-direction: column;
         align-items: center; 
    }
    .logo-heading img {
        width:100%;
    }
    .para-image{
        flex-direction: column;
    }
    .image img{
        width: 100%;
        padding: 10px;
    }
}